on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build application
        run: mvn clean package --projects :${{ inputs.service }} --also-make --batch-mode

      # Build and push docker image
      # docker build . --build-arg JAR_FILE=services/${{ inputs.service }}/target/app.jar -t <tag>